/* Styles for the form */
form {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Title styles */
  h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Label styles */
  label {
    font-weight: bold;
  }
  
  /* Styles for inputs */
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Styles for the button */
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Error message styles*/
  #mensajeError {
    color: #ff0000;
    margin-top: 10px;
  }